[submodule "zsh/fasd"]
	path = zsh/fasd
	url = https://github.com/clvv/fasd.git
[submodule "zsh/slimzsh"]
	path = zsh/slimzsh
	url = https://github.com/changs/slimzsh
[submodule "tmux/tpm"]
	path = tmux/tpm
        url = https://github.com/tmux-plugins/tpm
